{% include 'navbar.html' %}
  <h1 align=center>PIX8 Featured</h1>
  <div class="container text-center">
    <div class="row g-2 inner-container">
      <div class="col-6">
        <div class="p-3 fadein img-container">
          <img id="f1" class="card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av1.jpg" />
          <img id="f2" class="card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av1-bit.jpg" />
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 fadein img-container">
          <img class=" card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av2.jpg" />
          <img class=" card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av2-bit.jpg" />
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 fadein img-container">
          <img class="card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av3.jpg" />
          <img class="card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av3-bit.jpg" />
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 fadein img-container">
          <img class="card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av4.jpg" />
          <img class="card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av4-bit.jpg" />

        </div>
      </div>
      <div class="col-6">
        <div class="p-3 fadein img-container">
          <img class=" card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av5.jpg" />
          <img class=" card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av5-bit.jpg" />
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 fadein img-container">
          <img class="card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av6.jpg" />
          <img class="card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av6-bit.jpg" />
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 fadein img-container">
          <img class="card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av7.jpg" />
          <img class="card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av7-bit.jpg" />
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 fadein img-container">
          <img class=" card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av8.jpg" />
          <img class="card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av8-bit.jpg" />
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 fadein img-container">
          <img class=" card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av9.jpg" />
          <img class="card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av9-bit.jpg" />
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 fadein img-container">
          <img class="card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av10.jpg" />
          <img class="card-img-top rounded img-fluid overlay-img" src="\static\Gallery\av10-bit.jpg" />
        </div>
      </div>
    </div>
  </div>
{% include 'footer.html' %}